body {
    height: 100vh;
    user-select: none;
    background-color: #eaf8fc;
    overflow: hidden;
}
header{
    color: #03787a
}
.main {
    height: 90vh;
}
.row {
    height: 90%;
}

.info {
    background-color: #3f52c0;
    color: #537180;
}
.race {
    background-color: #f0f7b5;
}
.player {
    translate: 0 var(--steps);
    transition: 1.5s;
}

#playerCanvas {
    width: 100%;
    height: 100%;
    background-color: #eae9e9;
    cursor: crosshair;
}

.left-arrow,
.right-arrow {
    cursor: pointer;
}

@media (max-width: 767px) {
    * {
        font-size: 10px;
    }
    img {
        width: 50px;
    }
}
