body {
    height: 100vh;
    user-select: none;
    background-color: #bfebfb;
    overflow: hidden;
}

.main {
    height: 90vh;
    translate: 0 8%;
}
.row {
    height: 90%;
}
.info {
    background-color: #3196c7;
}
.player {
    translate: 0 var(--steps);
    transition: 1.5s;
}

#playerCanvas {
    width: 100%;
    height: 100%;
    background-color: #fad366;
    cursor: crosshair;
}
