body {
    height: 100vh;
    user-select: none;
    background-color: #d3f3fe;
    overflow: hidden;
}
header{
    color: rgb(1, 100, 18)
}
.main {
    height: 90vh;
}
.row {
    height: 90%;
}

.info {
    background-color: #dceb52;
    color: #607d8b;
}
.race {
    background-color: #e1ee69;
}
.player {
    translate: 0 var(--steps);
    transition: 1.5s;
}

#playerCanvas {
    width: 100%;
    height: 100%;
    background-color: #fedb72;
    cursor: crosshair;
}

.left-arrow,
.right-arrow {
    cursor: pointer;
}

@media (max-width: 767px) {
    * {
        font-size: 10px;
    }
    img {
        width: 50px;
    }
}
